/* Mantém o ícone do menu visível em todas as telas */
@media (min-width: 992px) {
  .sidenav-trigger {
    display: block !important;
  }
}

.auto-height-textarea {
    overflow: hidden;
	height: 12em;
    transition: height 0.2s; /* Adiciona uma transição suave de altura */
}

.auto-height-textarea:focus {
    height: auto; /* Define a altura da textarea para auto quando em foco */
}

.recurso td{
	padding: 2px!important;
	border-bottom:1px solid teal!important;
}

.chip {
  white-space: nowrap; /* Impede quebrar linhas */
  overflow: hidden; /* Oculta qualquer conteúdo que transborde */
  text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto não couber */
}

pre {
    overflow: auto; /* Adiciona barras de rolagem quando necessário */
	white-space: pre-wrap; /* Quebras de linha automáticas e preservação de espaços em branco */
	max-width: 100%; /* Limita a largura do elemento a 100% do contêiner pai */
}


#popup {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  top: -100%; /* Posicione o popup acima da linha da tabela */
  left: 0; /* Ajuste a posição horizontal conforme necessário */
}

#popup-content {
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
  padding: 10px;
  background-color: #fff;
  /* Outros estilos desejados para o conteúdo do popup */
}




